<section layout="row" layout-sm="column">
    <md-content flex>
        <div class="md-actions" layout="row" layout-align="start center">
            <md-button data-ng-click="vm.add($event)" class="md-raised"><md-icon md-font-icon="ion-android-add" style="font-size: 24px;"></md-icon>Add Component</md-button>
            <md-button data-ng-click="vm.sort($event)" class="md-raised">Reorder Components</md-button>
        </div>
        <md-card class="md-padding" style="position:relative;" data-ng-repeat="component in vm.template">            
            <md-card-content>
                <md-button class="md-icon-button esqtv-btn-float-top-right" aria-label="Remove" title="Remove {{component.contentType}}" data-ng-click="vm.remove(component)"><md-icon md-font-icon="ion-close" alt="Plus"></md-icon></md-button>
                <component component-data="component"></component>
            </md-card-content>
        </md-card>
    </md-content>

    <md-content flex="25" flex-sm="1">
        <md-card>
            <md-content>                
                
            </md-content>
        </md-card>
        <md-card>
            <img ng-src="http://tv.esquire.com/images/{{vm.gallery.ImageDB3.imageTypeCollection[2].URL}}" alt="{{vm.gallery.Title}}">
            <md-card-content>
                <md-input-container>
                    <label>Title</label>
                    <input data-ng-model="vm.page.title" />
                </md-input-container>
                <md-input-container>
                    <label>Permalink</label>
                    <input data-ng-model="vm.page.permaLink" />
                </md-input-container>
                <md-input-container>
                    <label>Ad Keywords</label>
                    <input data-ng-model="vm.page.adKeywords" />
                </md-input-container>
                <keyword-autocomplete data-ng-model="vm.keywords"></keyword-autocomplete>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button data-ng-click="vm.save()">Save</md-button>
                    <md-button data-ng-click="vm.publish()" class="md-hue-2">Publish</md-button>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</section>