<section layout="row" layout-sm="column">    
    <md-content flex>
        <md-card class="md-padding" style="position:relative;" data-ng-repeat="component in vm.template">
            <a class="md-mini md-fab md-raised esqtv-btn-float-btm-right" data-ng-click="vm.remove(component)"><md-icon md-svg-src="/Content/img/SVG/0272-cross.svg" style="font-size: 10px; height:10px;width:14px;"alt="Remove"></md-icon></a>
            <component component-data="component"></component>
        </md-card>
    </md-content>

    <md-content flex="25" flex-sm="1">
        <md-card>
            <md-content>
                <md-list>
                    <md-list-item ng-click="vm.addComponent(itm, $event)" data-ng-repeat="itm in vm.components">
                        <md-icon md-svg-src="/Content/img/SVG/0267-plus.svg" alt="Plus" class="red" style="height: 14px; width: 14px; color: #4cff00;"></md-icon>
                        <p>{{itm}}</p>
                    </md-list-item>
                </md-list>                
            </md-content>
        </md-card>
        <md-card>
            <img ng-src="http://tv.esquire.com/images/{{vm.gallery.ImageDB3.imageTypeCollection[2].URL}}" alt="{{vm.gallery.Title}}">
            <md-card-content>
                <md-input-container>
                    <label>Title</label>
                    <input data-ng-model="vm.page.title" />
                </md-input-container>
                <md-input-container>
                    <label>Permalink</label>
                    <input data-ng-model="vm.page.permaLink" />
                </md-input-container>
                <md-input-container>
                    <label>Ad Keywords</label>
                    <input data-ng-model="vm.page.adKeywords" />
                </md-input-container>
                <keyword-autocomplete data-ng-model="vm.keywords"></keyword-autocomplete>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button data-ng-click="vm.save()" class="md-raised">Save</md-button>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</section>