<div layout="row" layout-align="center center">

    <md-content flex="66" flex-sm="100">
        <ent-search-box buttontext="Search" labeltext="id, title, url" query="vm.search.query" search="vm.searchPages()"></ent-search-box>        
        <md-content class="md-whiteframe-z1">
            <md-list>
                <md-list-item ng-click="vm.selectItem(item)" class="md-3-line" data-ng-repeat="item in vm.search.results">
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="Edit {{item.title}}" title="Edit {{item.title}}"><md-icon md-font-icon="ion-edit"></md-icon></md-button>
                        <div class="md-list-item-text">
                            <h3>{{item.title}}</h3>
                            <h4>{{item.permaLink}}</h4>
                            <p>{{item.id}}</p>
                        </div>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <md-content layout="row" layout-align="center center">
            <pagination total-items="vm.paging.totalItems" data-ng-model="vm.paging.currentPage" data-ng-change="vm.paging.onSelectPage(page)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="vm.paging.numPages"></pagination>
        </md-content>
    </md-content>
</div>
