@using System.Web.Optimization
@model Inception.Web.Models.Home.Index

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgApp = "esqtv.home";
}

@section scripts {

    @Scripts.Render("~/bundles/esqtv-home")
}

@section jsCode {

}


<div ng-view></div>
