@using System.Web.Optimization
@model Inception.Web.Models.Home.Index

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgApp = "esqtv.home";
}

@section scripts {
    
    <script src="/Content/components/ckeditor/ckeditor.js"></script>

    @Scripts.Render("~/bundles/esqtv-pages")
    @Scripts.Render("~/bundles/esqtv-video")
    <script src="~/App/main.js"></script>
    @*@Scripts.Render("~/bundles/esqtv-home")*@
}

@section jsCode {

}


<div ng-view></div>
