@using System.Web.Optimization
@model Inception.Web.Models.Page.Index

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgApp = "esqtv.pages";
}

@section scripts {
    @Scripts.Render("~/bundles/esqtv-pages")    
}

@section jsCode {

}

<div>
    <div ng-view></div>
</div>