@model Inception.Web.Models.Video.Index

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgApp = "esqtv.video";
}

@section scripts {

    <script src="~/App/Video/App.js"></script>
    <script src="~/App/Video/Config.js"></script>
    <script src="~/App/Video/Controllers/VideoIndexCntrl.js"></script>
    <script src="~/App/Video/Controllers/VideoEditCntrl.js"></script>
}

@section jsCode {

}

<div>
    <div ng-view></div>    
</div>