<div class="video-search-container">

    <md-card>
        <md-card-content>
            <div class="md-toolbar-tools">
                <md-input-container>
                    <label>Videos Search</label>
                    <input ng-model="vm.search.query">
                </md-input-container>
                <md-button class="md-raised" data-ng-click="vm.searchVideos()">Search</md-button>
                <span flex></span>
                <span>{{vm.paging.totalItems}} items found&nbsp;</span>
            </div>
            <md-list>
                <md-list-item data-ng-repeat="video in vm.search.results" class="md-3-line">
                    <img ng-click="vm.selectItem(video)" ng-src="{{vm.imgUrl(video.ImageDb3Url)}}" alt="{{video.Name}}" />&nbsp;
                    <div layout="row" layout-align="center">
                        <p>{{ video.VideoName }}&nbsp;</p>
                        <p>{{ video.Video_Key}}&nbsp;</p>
                        <p>{{ video.DatePublish }}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <md-content>
                <div layout horizontal center>
                    <pagination total-items="vm.paging.totalItems" data-ng-model="vm.paging.currentPage" data-ng-change="vm.paging.onSelectPage(page)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="vm.paging.numPages"></pagination>
                </div>
            </md-content>
        </md-card-content>

    </md-card>
    <!--<div class="container-fluid  video-container">
        <div class="row">
            <div class="pull-right">
                <pagination total-items="vm.paging.totalItems" data-ng-model="vm.paging.currentPage" data-ng-change="vm.paging.onSelectPage(page)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="vm.paging.numPages"></pagination>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Video Key</th>
                        <th>Embed Key</th>
                        <th>Secret Embed Key</th>
                        <th>Video Name</th>
                        <th>Insert Date</th>
                        <th>Publish Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="video in vm.search.results">
                        <td class="span2"><a href data-ng-click="vm.selectItem(video)"><img class="img-responsive" data-ng-src={{vm.imgUrl(video.ImageDb3Url)}} alt="{{video.VideoName}}" /></a></td>
                        <td class="span2">{{video.Video_Key}}</td>
                        <td>{{video.EncryptedKey}}</td>
                        <td>{{video.InternalEncryptedKey}}</td>
                        <td>{{video.VideoName}}</td>
                        <td class="span2">{{video.InsertDate}}</td>
                        <td class="span2">{{video.DatePublish}}</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="pull-right">
                <pagination total-items="vm.paging.totalItems" data-ng-model="vm.paging.currentPage" data-ng-change="vm.paging.onSelectPage(page)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="vm.paging.numPages"></pagination>
            </div>
        </div>
    </div>-->
</div>